name: Generate ASCII artwork

on: push

jobs:
    ascii_job:
        runs-on: ubuntu-latest
        steps:

        - name: checkout repo
          uses: actions/checkout@v4
        
        - name: Install cowsay program
          run: sudo apt-get install cowsay -y

        - name: execute cowsay program
          run: cowsay -f dragon "run for cover dragon" >> dragon.txt
        
        - name: Test file exist
          run: grep -i "dragon" dragon.txt

        - name: Read file
          run: cat dragon.txt

        - name: checkout repo files
          run: cat dragon.txt
        
        - name: checkout repo files
          run: ls -ltra

        # - name: welcome message
        #   run: |
        #       echo "my first Github action Job"
        #       ls -ltra
        #       cat README.md
              
        # - name: Generate ASCII artwork
        #   run: cowsay -f dragon "run for cover" >> dragon.txt

        # # - name: List files
        # #   run: ls

        # # - name: read file
        # #   run: cat README.md